<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <span class="text-dark"> <b>Ontario Driving License</b> </span>
    </div>
  </footer>


  <!-- Student Name: ANOOP VENKATESH
Student No: 8750864 -->