<!DOCTYPE html>
<html lang="en" class="h-100">
  <%- include('layouts/header') %>

  <body class="d-flex flex-column h-100">

    <header>
      <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <div class="container-fluid">
          <a class="navbar-brand bg-light logo-spacing" href="/">
            <img
              src="./assets/drivetest-main-logo.png"
              alt=""
              width="100"
              height="50"
            />
            <!-- https://drivetest.ca/wp-content/themes/drivetest/assets/images/drivetest-main-logo.png' -->
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/"
                  >Dashboard</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/driver"
                  >Driver</a
                >
              </li>
              
              <li class="nav-item d-flex">
                <a class="nav-link active text-dark" aria-current="page" href="/logout"
                >Logout</a
                >
              </li>

            </ul>


          </div>
        </div>
      </nav>
    
    </header>


    <!-- <header><%- include('layouts/navbar') %></header> -->

    <div class="container-fluid px-0">
      <section id="hero">
        <div class="hero-container text-white">
          <% if( page === 'driver' && typeof userID === 'undefined') {%>
          <h2 class="header-text">Please Login First</h2>
          <%} %> <% if( page !== 'driver' || page === 'undefined') {%>
          <h2 class="header-text">
            Welcome! <br />
            Your Driver’s License <br />
            Is Just A Click Away!
          </h2>
          <%} %>

          <div class="">
            <% if(typeof userID === 'undefined') {%>
            <button type="button" class="btn btn-light test-buttons m-5">
              <a href="/login">Login</a>
            </button>
            <%} %> <% if(typeof userID !== 'undefined') {%>
            <button type="button" class="btn btn-light test-buttons m-5">
              <a href="/g2test">G2test</a>
            </button>
            <button type="button" class="btn btn-light test-buttons m-5">
              <a href="/gtest">Gtest</a>
            </button>
          </div>
          <%} %>
        </div>
      </section>
    </div>

    <%- include('layouts/footer')%>
  </body>
</html>

<!-- Student Name: ANOOP VENKATESH
Student No: 8750864 -->
