<!DOCTYPE html>
<html lang="en" class="h-100">
  <%- include('layouts/header') %>
  <body class="d-flex flex-column h-100">
    <header>
      <%- include('layouts/navbar') %>
    </header>

    <main class="flex-shrink-0">
      <div class="container mt-5 pt-5">
        <h1 class="mt-5">This is the Examiner page</h1>
      </div>
    </main>

    <%- include('layouts/footer')%>
  </body>
</html>

<!-- Student Name: ANOOP VENKATESH
Student No: 8750864 -->